/* ========================= */
/* CURSOR GLOW */
/* ========================= */

.cursor-glow {

    position: fixed;

    width: 350px;
    height: 350px;

    border-radius: 50%;

    background: radial-gradient(
        circle,
        rgba(124, 58, 237, 0.18),
        transparent 70%
    );

    pointer-events: none;

    transform: translate(-50%, -50%);

    z-index: -1;

    transition: transform 0.08s linear;
}
